<a href="https://colab.research.google.com/github/shintafiaa/Kampus-Merdeka-ML-Pemula/blob/main/13_Splitting_Attribute.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

Artist = pd.DataFrame({'Name': ['Isyana Sarasvati', 'Nicholas Saputra', 'Raisa Andriana'],
                          'Age': [30, 36, 32]})
print("Public Figure from Indonesia: \n", Artist)

Artist[['First', 'Last']] = Artist.Name.str.split(expand=True)
print("\nSplit kolom 'Name', lalu tambahkan kedua kolom: \n", Artist)

Public Figure from Indonesia:
                Name  Age
0  Isyana Sarasvati   30
1  Nicholas Saputra   36
2    Raisa Andriana   32

Split kolom 'Name', lalu tambahkan kedua kolom:
                Name  Age     First       Last
0  Isyana Sarasvati   30    Isyana  Sarasvati
1  Nicholas Saputra   36  Nicholas    Saputra
2    Raisa Andriana   32     Raisa   Andriana